.right-sidebar {
    position: fixed; /* 고정 위치 */
    top: 40%; /* 화면 위쪽에 고정 */
    right: 5%; /* 화면 오른쪽에 고정 */
    width: 5%; /* 원하는 너비 설정 */
    height: 100%; /* 화면 높이만큼 설정 */
    background-color: #eee; /* 배너 배경색 */
    border-radius: 10px;
    z-index: 100; /* 다른 요소 위에 표시 */
    padding: 20px; /* 내용과의 여백 설정 */
    height: 10%;
  }