body {
    margin: 0;
    padding: 0;    
    margin: 0 auto; /* 가운데 정렬 */
    height: 90%;
    margin-top: 2%;
    overflow: visible;
    width: 80vw;
    
    margin-right: 10%;
    margin-left: 10%;
    max-width: 100%;
    /* min-height: 800px; */
  }